[submodule "plugins/CMB2"]
	path = plugins/CMB2
	url = git@github.com:WebDevStudios/CMB2.git
[submodule "plugins/book-review-library"]
	path = plugins/book-review-library
	url = git@github.com:jazzsequence/book-review-library.git
	branch = develop
